Options +FollowSymlinks
RewriteEngine On
RewriteRule ^accueil$ views/home.php [L]
RewriteRule ^activites$ views/activities.php [L]
RewriteRule ^reservation/([0-9]+) views/booking.php?id=$1 [L]
RewriteRule ^activite/([0-9]+)$ views/activity.php?id=$1 [QSA]